.PackageImg{
    border: 1px solid lightgray;
    border-radius: 8px;
}
.PackageText{
    text-align: justify;
}
.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}