.aboutImg  {
width: 150px;
height: 300px;
border: 1px solid white;
    border-radius: 15px;
}
 .food{
    width: 150px;
    height: 288px !important;  
    border: 1px solid white;
    border-radius: 15px; 
    
}
img.food  {
    height: 300px;
}
    .food{
    width: 150px;
    height: 250px;  
    border: 1px solid white;
    border-radius: 15px;
}
.about{
    
}
    
@media screen and (max-width:768px) {
    .aboutImg  {
        width: 75px;
        height: 150px;
        border: 1px solid white;
            border-radius: 15px;
        }
        .food{
            width: 75px;
            height: 125px;  
            border: 1px solid white;
            border-radius: 15px;
        } 
}