.booking-container{
    display: flex;
    flex-direction: column;
}
.package-container{
    display:grid;
    grid-template-columns: repeat(2 ,1fr);
}

@media screen and (max-width: 480px) {
    .package-container{
        display:grid;
        grid-template-columns: repeat(1 ,1fr);
        margin-top: 10px;
    }
    .package-container img{
        margin-bottom: 15px;
    }
  }
.package-container div img{
    width: 100%;
}

.add-confirm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-confirm form input,textarea{
    width: 75%;
    margin-bottom: 15px;
}