.hookForm{

}
 

@media screen and (max-width: 480px) {
     
  }
 

.add-confirm form{

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-confirm form input,textarea{
    border: 1px solid gray;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 15px;
}
.add-confirm form input:hover,textarea:hover{
    border: 1px solid black;
     
}