.footer-container{
    position:static;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: 35px;
    /* background-color: rgb(253,240,233); */
     background-color: lightgray;
    /* color: rgb(13,110,253); */
    color: black ;
}
.footer-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 25px;
    text-decoration: none;
}
.footer-item ul li{
    list-style-type: none;
}